{% extends "bootstrap_ui/bootstrap3-skeleton.html" %}
{% block head-title %}
    Text To Html
{% endblock %}
{% block body-content %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#">Moodle</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Gallery</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="jumbotron">
    <div class="container text-center">
      <h1>Moodle text to XML converter</h1>      
      <form method="post" action="{% url 'home' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <input type="file" class="btn btn-primary" id="myfile" name="myfile">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  
{% endblock %}